In [1]:
import pandas as pd
pd.read_csv('data.csv').head()

,Category Code,Category,Subcategory Code,Subcategory,Line Item,Fiscal Year,"Amount (US$, Millions)"
0,a,Assets,dfb,Due from Banks,Unrestricted currencies,2010,1581
1,a,Assets,dfb,Due from Banks,Unrestricted currencies,2009,2380
2,a,Assets,dfb,Due from Banks,Currencies subject to restriction,2010,222
3,a,Assets,dfb,Due from Banks,Currencies subject to restriction,2009,664
4,a,Assets,i,Investments,Trading,2010,36012

In [3]:
from sqlalchemy import create_engine
from cubes.tutorial.sql import create_table_from_csv

In [6]:
engine = create_engine('sqlite:///data7learnstudents.sqlite')

In [7]:
create_table_from_csv(engine,
                     'data.csv',
                     table_name='saling_data',
                     fields=[
                         ('category', 'string'),
                         ('category_label', 'string'),
                         ('subcategory', 'string'),
                         ('subcategory_label', 'string'),
                         ('line_item', 'string'),
                         ('year', 'integer'),
                         ('amount', 'integer')
                     ],
                     create_id=True)

In [8]:
from cubes import Workspace, Cell, PointCut

In [9]:
ws = Workspace()
ws.register_default_store('sql', url='sqlite:///data7learnstudents.sqlite')
ws.import_model('model.json')

In [10]:
b = ws.browser('saling_data')

In [13]:
result = b.aggregate()

In [16]:
result.summary['amount_sum']

1116860

In [24]:
result = b.aggregate(drilldown=['item'])

In [21]:
for row in result.table_rows('item'):
    print(row.label)
    print(row.record['record_count'])
    print(row.record['amount_sum'])
    print(row.record['double_amount_sum'])

Assets
32
558430
1116860
Equity
8
77592
155184
Liabilities
22
480838
961676